* {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body {
    background-color: black;
    color:white;
}
#ui {
    position: sticky;
}

#ui {
    font-size: 40px;
}
#point-counter {
    float: left;
    border: 1px solid white;
    color:white;
    border-radius: 4px;
    margin-left:3%;
    margin-top:2%;
    width:80px;
    

}
#game {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 800px;
    border: 1px solid #000000;
}